<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <main role="main" class="container">

        <h2 class="mt-5">Hola {{name}}!</h2>

        <p class="lead">
            Agradecemos tu interés y participación dentro de proyecto Migala,
            a continuación te dejamos enlaces a los distintos espacios del proyecto para que te integres y comiences a
            formar parte de las actividades.
        </p>

        <p>
            Recuerda que es importante leer y aceptar las reglas del proyecto:
            https://drive.google.com/file/d/1AKfwN6c31hvpMxtATX23Kceuo_Fv4CUR/view?fbclid=IwAR0Zi4LksxCLP7qGKUQ_p5MAluht7G6iTNPcKEPdP-hwkVeL6eZ9vq-yqz4
        </p>

        <p>
            Se encuentra disponible un bot de télegram, dale un vistazo:
            https://t.me/PrMOficial_bot
        </p>

        <p>
            Directorio de telegram (Recuerda que por reglamento, sólo puedes unirte a un grupo estatal, tres temáticos y
            uno de género).
            https://drive.google.com/file/d/1XMNY204xee9qwKKy36FB5H_Umtq5oeKK/view?fbclid=IwAR1j7BwehGWtRIitrUY2OqdOsvSaC5-ofqf_3_FQvxp-yLiHPaBDsmacMm4
        </p>

        <p>
            Enlace a Discord:
            https://discord.gg/MtWz6yeP
        </p>

        <p>
            Grupo de facebook (Recuerda responder a todas las preguntas para que se acepte tu solicitud):
            https://www.facebook.com/groups/proyectomigala
        </p>
    </main>


</body>

</html>