<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email De Bienvenida</title>
</head>

<body>
    <h2>Hola {{name}}!</h2>
    <p>Estamos muy emocionados de tenerte en el proyecto {{company}}.</p>
</body>

</html>
