<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenido</title>
</head>

<body>
    <main class="container">

        <h2 class="mt-5">Hola {{name}}!</h2>

        <p>
            Te damos la bienvenida al <b>Proyecto Migala</b>, un movimiento digital que busca formar un partido político
            incentivando la participación ciudadana y cambiando la forma de hacer política. Somos participación, somos
            crítica.
        </p>
        <p>
            Queremos construir una plataforma digital que permita organizarnos y tomar decisiones colectivas, en donde
            todas las voces sean escuchadas y puedan expresarse en espacios seguros para todas las personas.
        </p>
        <p>
            Impulsaremos el uso de la Plataforma Migala como herramienta de participación ciudadana que ayude a tomar
            mejores decisiones para nuestra comunidad.
        </p>
        <p>
            En este momento estamos en contruccion del proyecto, por lo que te queremos hacer entrega de un medio con el
            que te podras identificar como integrante, mas abajo podras encontrar un link que te redirigira a ella.
        </p>
        <p>
            Este ID te sera util dentro de nuestras plataformas para identificarte, y participar de la vida democratica
            que estamos preparndo como comunidad.
        </p>

        <b>
            <h3>
                <a href="{{url}}" target="_blank">Obten tu ID aquí</a>
            </h3>
        </b>

        <h3 style="padding-bottom: 0% !important; margin-bottom: 0% !important;">Redes Sociales:</h3>
        <ul style="padding-top: 0% !important; margin-top: 0% !important;">
            <li>
                <a href="https://twitter.com/ProyectoMigala" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.facebook.com/ProyectoMigala/" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="https://www.youtube.com/proyectomigala/" target="_blank">Youtube</a>
            </li>
            <li>
                <a href="https://www.instagram.com/proyectomigala/" target="_blank">Instagram</a>
            </li>
            <li>
                <a href="https://www.telegram.com/proyecto-migala/" target="_blank">Telegram</a>
            </li>
        </ul>


        <p>
            <b>¡Gracias por ser parte de este proyecto!</b>
        </p>
    </main>
</body>

</html>