# https://theoephraim.github.io/node-google-spreadsheet/#/getting-started/authentication
# Service Account (recommended)
{
  "type": "service_account",
  "project_id": "xxxxx",
  "private_key_id": "xxxxx",
  "private_key": "-----BEGIN PRIVATE KEY-----\n ....... \n-----END PRIVATE KEY-----\n",
  "client_email": "xxxxx@xxxxx.iam.gserviceaccount.com",
  "client_id": "xxxxxxxx",
  "auth_uri": "xxxxxxxxxxx",
  "token_uri": "xxxxxxxxx",
  "auth_provider_x509_cert_url": "xxxxxxxxxxx",
  "client_x509_cert_url": "xxxxxxxxxx"
}
